[Unit]
Description=Flexible Discovery Forwarder
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/fdfd
User=nobody
Group=nobody
# CAP_NET_ADMIN is only needed when using the ipset filter
AmbientCapabilities=CAP_NET_RAW CAP_NET_ADMIN

[Install]
WantedBy=multi-user.target
